
/* Styles CSS */
    main.CGU{
        background-color: #FCE0B1; 
    }

.container.CGU {
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem;
    background-color: #FFF;
    border-radius: 0.8rem;
    display: grid;
    gap: 2rem;
    box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.2);
}

h1.CGU {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

p.CGU {
    margin-bottom: 1rem;
    text-align:  center;

}
ol.CGU{
    letter-spacing: .1rem;
    line-height: 2.5rem;
    display: grid;
    gap: 1rem;
    text-align: justify;
    list-style: decimal;
    width: 100%;
    
}
ol.CGU li{
    box-sizing: border-box;
}
.ol li b{
    display: block;
}

.contact-link.CGU {
    color: #007bff;
    text-decoration: underline;
}

@media (max-width: 768px) {
    /* Responsive styles for smaller screens */
    .container.CGU {
      
        margin: 0;
    }
}
